# Java & IDE specific files #
*.class
bin
build
lib/
target
.factorypath
.springBeans
/build
/code
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.idea
nbproject
*.iml
.~lock.*
.buildpath
.settings
.metadata
.factorypath
.recommenders
interpolated*.xml
dependency-reduced-pom.xml
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*

# Package files #
*.jar
*.war
*.ear
*.ipr
*.iws
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# OS specific files #
.DS_Store
Desktop.ini
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Thumbs.db
._*
*.lnk
*.com
*.dll
*.exe
*.o
*.so
*~

# Log files #
*.log
*.sql
*.sqlite

# diff files #
.orig

# Miscellaneous #
.gradle
*.sw?
.#*
*#